body{
    background-color: lightgray; /*noir */
    color: #000000; /*jaune doré */
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background: rgb(0, 0, 0, 0. 7);
    color: #fff;
    padding: 20px;
    text-align: center;
}
header img {
    height: 60px;
    vertical-align: middle;
}
section#contact{
    max-width: 700px;
    margin: 50px auto;
    background: rgba(255, 255, 255, 0. 95);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(245, 245, 236, 0.2);
} 
section#contact h2 {
    text-align: center;
    color: #ddda0e;
    margin-bottom: 25px;
    font-size: 28px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
input, textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    width: 100px;
}
textarea {
    min-height: 120;
    resize: vertical;
}
button {
    background: #0c0c0c;
    color: #fff;
    border: none;
    padding: 14px;
    border-radius: 5;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}
button:hover {
    background: #e7d90a;
}
.info p {
    margin: 8px 0;
}
.info i {
    color: #f0ec07;
    margin-right: 8px;
}
input, textarea {
    border: 1px solid lightgray;
    background-color:#FFD700;
    color:lightgray;
    padding: 8px;
}

button {
    background-color: #FFD700;
    color:lightgray;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color:lightgray; /* doré lèrgément plus foncé */ 
}

